{% extends 'base.html' %}

{% block title_text %}Microlensing Source{% endblock %}
{% block header_text %}Welcome to Microlensing Source!{% endblock %}

{% block mainregion %}
	<!-- Menu panels -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4">
				<a href="/learning/">
        			<div class="panel panel-default">
        				<div class="panel-heading">
        					<h3 class="panel-title">Introduction to microlensing</h3>
        				</div>
        				<div class="panel-body">
                            <img src="/static/tutorial/GalacticBulge.png" width="100%" height="110%"><br>
							<center><h4>Learn how this fascinating phenomenon works</h4></center>
        				</div>
        			</div>
                </a>
			</div>
			
			<div class="col-lg-4">
				<a href="/overview/">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Overview of the field</h3>
						</div>
						<div class="panel-body">
							<img src="/static/tutorial/nasa-wfirst-telescope.jpg" width="100%"><br>
							<center><h4>The people and projects behind the discoveries</h4></center>
						</div>
					</div>
				</a>
			</div>
            
			<div class="col-lg-4">
				<a href="/resources/">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Resources</h3>
						</div>
						<div class="panel-body">
							<img src="/static/tutorial/hires-kepler-421b_0-500x410.png" width="100%"><br><br>
							<center><h4>Images, movies, references and more</h4></center>
						</div>
					</div>
				</a>
			</div>
            
		</div>
	</div>
{% endblock %}