{% extends 'base.html' %}
{% block mainregion %}
	<!-- Learning menu panels -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">The concepts</h3>
					</div>
					<div class="panel-body">
					</div>
				</div>
			</div>
			
			<div class="col-lg-6">
				<a href="/tutorial/">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">In depth</h3>
						</div>
						<div class="panel-body">
							Coursework & exercises for advanced students
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
{% endblock %}