{% extends 'base.html' %}
{% block mainregion %}
	<!-- Learning menu panels -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">Jobs</h4>
					</div>
					<div class="panel-body">
						<img src="/static/tutorial/survey_graphic.png" width="100%"><br>
						<center>Looking for a position in a microlensing project?</center>
					</div>
				</div>
			</div>
			
			<div class="col-lg-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">Proposals</h4>
					</div>
					<div class="panel-body">
						<img src="/static/tutorial/nasa-wfirst-telescope.jpg" width="100%"><br>
						<center>Proposal opportunities relevant to microlensing</center>
					</div>
				</div>
			</div>
			
		</div>
	</div>
{% endblock %}