{% extends 'base.html' %}
{% block mainregion %}
	<!-- Learning menu panels -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6">
				<a href="/pictures/">
				    <div class="panel panel-default">
					   <div class="panel-heading">
						  <h4 class="panel-title">Pictures</h4>
                        </div>
					   <div class="panel-body">
				            <img src="/static/tutorial/galactic_centre_camera.png" width="100%"><br>
						  <center></center>
					   </div>
				    </div>
                </a>
			</div>
			
			<div class="col-lg-6">
				<a href="/movies/">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">Movies</h4>
						</div>
						<div class="panel-body">
							<img src="/static/tutorial/galactic_bulge_on_film.png" width="100%"><br>
							<center></center>
						</div>
					</div>
				</a>
			</div>
		</div>
		
		<div class="row">			
			<div class="col-lg-6">
				<a href="/links/">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">Links</h4>
						</div>
						<div class="panel-body">
							<img src="/static/tutorial/galactic_centre_on_links.png" width="100%"><br>
							<center></center>
						</div>
					</div>
				</a>
			</div>
			
				
			<div class="col-lg-6">
				<a href="/references/">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">References</h4>
						</div>
						<div class="panel-body">
							<img src="/static/tutorial/galactic_centre_on_book.png" width="100%"><br>
							<center></center>
						</div>
					</div>
				</a>
			</div>
			
		</div>
	</div>
{% endblock %}