{% extends 'base.html' %}

{% block title_text %}{{page.name}}{% endblock %}

{% block mainregion %}
{% for line, dbentry in content %}
    {% if dbentry == "no_db_entry" %}
        {{line|safe}}
    {% else %}
        {% if dbentry.type == "PICTURE" %}
            <p><img src="/static/tutorial/pictures/{{dbentry.object.filename}}" alt="{{dbentry.object.name}}" width=500/></br>
            <center><h4>{{dbentry.object.caption}}</h4> </br><i>{{dbentry.object.credit}}</i></center></p>
        {% elif dbentry.type == "MOVIE" %}
            <p><img src="/static/tutorial/movies/{{dbentry.object.filename}}" alt="{{dbentry.object.name}}"/></br>
            <center><h4>{{dbentry.object.caption}}</h4> <i>{{dbentry.object.credit}}</i></center></p>
        {% elif dbentry.type == "FILE" %}
            <a href="/static/tutorial/{{dbentry.object.filename}}">{{line|safe}}</a>
        {% elif dbentry.type == "URL" %}
            <a href="{{dbentry.object.url}}">{{dbentry.object.name}}</a>
        {% elif dbentry.type == "SITEPAGE" %}
            <a href="{% url dbentry.object.name %}">{{line|safe}}</a>
        {% elif dbentry.type == "CONCEPTPAGE" %}
            <a href="{% url dbentry.object.short_title %}">{{line|safe}}</a>
        {% elif dbentry.type == "TUTORIALPAGE" %}
            <a href="{% url dbentry.object.short_title %}">{{line|safe}}</a>
        {% elif dbentry.type == "INTERACTIVETOOL" %}
            <a href="{% url dbentry.object.name %}">{{line|safe}}</a>
        {% endif %}
    {% endif %}
{% endfor %}

{% if references|length > 0 %}
    <h3>References:</h3>
    {% for r in references %}
        {{r|safe}}</br>
    {% endfor %}
{% endif %}
{% endblock %}