{% extends 'base.html' %}
{% block mainregion %}
	<!-- Tutorial navigation sidebar -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					{% for t in tool_list %}
					<li><a href="{% url 'interactive' t.pk %}">{{t.tools_index}}.) {{t.name}}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-sm-9 main">
				<h1 class="page-header">{% block header_text %}{% endblock %}</h1>
				<div class="col-sm-9">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}