{% extends 'base.html' %}
{% block mainregion %}
	<!-- Tutorial navigation sidebar -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					{% for t in tutorial_list %}
					<li><a href="{% url 'tutorial' t.pk %}">{{t.course_index}}.) {{t.title}}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-sm-9 main">
				<h1 class="page-header">{% block header_text %}{% endblock %}</h1>
				{% if page_index > 0 %} <p style="text-align:right"><i>by {% block author_name %}{% endblock %}</i></p> {% endif %}
				<div class="col-sm-9">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}